<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xqh.ad.tkmapper.mapper.AdAppMediaMapper" >
  <resultMap id="BaseResultMap" type="com.xqh.ad.tkmapper.entity.AdAppMedia" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="app_id" property="appId" jdbcType="INTEGER" />
    <result column="media_id" property="mediaId" jdbcType="INTEGER" />
    <result column="media_code" property="mediaCode" jdbcType="CHAR" />
    <result column="url_code" property="urlCode" jdbcType="VARCHAR" />
    <result column="url" property="url" jdbcType="VARCHAR" />
    <result column="app_key" property="appKey" jdbcType="VARCHAR" />
    <result column="start_count" property="startCount" jdbcType="INTEGER" />
    <result column="discount_rate" property="discountRate" jdbcType="DECIMAL" />
    <result column="create_time" property="createTime" jdbcType="INTEGER" />
    <result column="update_time" property="updateTime" jdbcType="INTEGER" />
  </resultMap>
</mapper>