<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xqh.ad.tkmapper.mapper.AdOdsIdfaReportMapper">

    <resultMap id="BaseResultMap" type="com.xqh.ad.tkmapper.entity.AdOdsIdfaReport">
        <id column="id" property="id" jdbcType="INTEGER"></id>
        <result column="app_media_id" property="appMediaId" jdbcType="VARCHAR"/>
        <result column="ip" property="ip" jdbcType="CHAR"/>
        <result column="idfa" property="idfa" jdbcType="CHAR"/>
        <result column="state" property="state" jdbcType="TINYINT"/>
        <result column="create_time" property="createTime" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="BaseColunm">
            id,
            app_media_id,
            ip,
            idfa,
            state,
            create_time
    </sql>

    <sql id="BasicFeildColumn">
            id,
            appMediaId,
            ip,
            idfa,
            state,
            createTime
    </sql>

    <select id="selectByRecordAndLimitRaw" resultMap="BaseResultMap">
        select id, app_media_id, ip, idfa, state, create_time
        from ad_ods_idfa_report
        where state=#{record.state}
      limit 0, #{count}
    </select>

    <select id="selectByRecordAndLimit" resultMap="BaseResultMap">
        select id, app_media_id, ip, idfa, state, create_time
        from ad_ods_idfa_report_${tableIndex}
        where state=#{record.state}
      limit 0, #{count}
    </select>
    
    <delete id="deleteById">
        delete
        from ad_ods_idfa_report_${tableIndex}
        where id=#{id}
    </delete>

    <update id="updateByIds">
        update ad_ods_idfa_report_${tableIndex}
        set
        <if test="record.state != null">
            state = #{record.state}
        </if>
        where id in
        <foreach collection="ids" open="(" close=")" separator="," item="item">
            #{item}
        </foreach>
    </update>
    
</mapper>