<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xqh.ad.tkmapper.mapper.AdRuishiInfoMapper" >
  <resultMap id="BaseResultMap" type="com.xqh.ad.tkmapper.entity.AdRuishiInfo" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="app_id" property="appId" jdbcType="INTEGER" />
    <result column="ruishi_q" property="ruishiQ" jdbcType="CHAR" />
    <result column="remark" property="remark" jdbcType="CHAR" />
    <result column="create_time" property="createTime" jdbcType="INTEGER" />
    <result column="update_time" property="updateTime" jdbcType="INTEGER" />
  </resultMap>
</mapper>